/*Ask box style*/


/* ==========================================================================
   filter
   ========================================================================== */
.ask_qstn .left_info{
    width: 100%
}
.filter{
    background-color: #e4ebf2;
    margin: 5px 0;
    border-radius: 5px;
    padding: 7px;
}
.filter ul {
    padding: 0;
    margin: 0;
}

.filter input.input-lg{
    height: 34px;
    padding: 0px 30px;
    font-size: 14px;
    border-radius: 34px;
    border: 1px solid #b6bcc2;
}

.Search-Icon{
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 16px;
}


.bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.bar > * {
    margin: 3px 7px;
    width:100%;
}

.bar .search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

}
.search .input-group, .search input {
    width: 100%;
}


/* ==========================================================================
   Ask Teacher listing
   ========================================================================== */
.ask_tchr_cont {
    padding: 5px;
}
.qstn_list .user_img, .qstn_list .user_img img {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.qstn_unit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    margin: 13px 0;
    position: relative;
    padding: 13px 0;
    border-bottom: solid 1px #eeeeee;
}
.qstn_unit:hover{
    border-bottom-color:#ddd ;
}
.qstn_list .right_info{
    width: 80px;
    position: relative;
    margin-left: 10px;
}
.qstn_list .left_info{
    width: calc(100% - 90px);
    position: relative;
}
.action_btn_cont{
    position: static;
    height: auto;
}
.action_btn_cont .action_btn{
    margin:5px;
    display:inline-block;
}
.action_btn span {
    display:inline-block;
}

.action_btn .action_text {
    margin-right: 7px;
}

.qstn_body{
    padding-left: 0;
}
.qstn_body h4{
    margin: 17px 0;
}
.qstn_body a:hover{
    text-decoration: none;
}
.Ask-Teacher{
    padding: 20px 0px 0px;
}

.ask-bar{
    color: #2c4159;
    background-color: #e4ebf2;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 160px;
}

.ask{
    padding-right:0px;
}

.ask textarea {
    display: block;
    width: 100%;
    padding: 20px 20px 11px;
    font-size: 26px;
    line-height: 1.42857;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.Question-icon{
    text-shadow:  1px 1px 2px #4b4b4b;

}

label{
    font-weight:normal;
    color:#42546a;
    margin-right: 1%;
    width: 100%;
}

.Choose{
    padding-right: 50px;
}
.ask_qstn{
    margin: 25px 0;
}
.choose_supject{
    margin: 0 auto 10px;
}
.choose_supject select, .choose_supject label{
    width: 100%;
    display:block;
}

.ask-numbers {
    text-align:center;
    margin-top:12px;
}
.ask-numbers a{
    color:#42546a !important;
}
.ask-numbers a:hover{
    color:#42546a;
    text-decoration:underline !important;
}

.ask button{
    border-radius: 30px;
    color: #FFF;
    background-color: #43A8BF;
    margin-top: -63px;
    float: left;
    padding: 8px 20px;
    text-align: center;
    font-size: 27px;
}

.ask button:hover {
    background-color:#192b40;
    color:#FFF;
}

.ask-details{
    background-color: #e4ebf2;
    border-radius: 13px;
    color:#192b40;
    padding: 15px;
}
.year_details{
    color: #3D5A7E;
}
.list-unstyled, .list-inline{
    padding-right:0px;
}



/* ==========================================================================
   Ask teacher details
   ========================================================================== */
.qstn_details .qstn_list .right_info{
    width: 70px;
}
.qstn_details .qstn_body h4{
    margin-top: 0;
}
.qstn_details .likes span{
    display: block;
}
.qstn_details .likes .small{
    opacity: .8;
}
.qstn_details .likes strong{
    font-size: 20px;
}
.qstn_details .small_like{
    width: 20px;
    margin-bottom: 5px;
}
.qstn_details .qstn_body{
    padding-left: 0;
}
.qstn_details .qstn_unit.ask-details{
    background-color: #e4ebf2;
    border-radius: 13px;
    padding:25px 10px;
}
.qstn_details .qstn_unit{
    border: none;
}
.qstn_details .action_icon svg{
    width: 17px;
    fill:#fff;
}
.qstn_details .action_btn:hover svg{
    width: 21px;
}
.qstn_details .action_btn span{
    display: block;
    opacity: 1;
}
.qstn_details .action_icon{
    opacity: 1;
}
.answer{
    font-size: 17px;
}

.like-answer-Section{
    margin: 10px 0;
    padding: 20px 10px;
    border-top: 1px dotted #cecece;
    border-bottom: 1px dotted #cecece;
    color: #192b40;
    background-color: #f4f4f4;
}
.like-answer-Section ul{
    width: 100%;
    display: block;
}

.like-answer-Section li {
    vertical-align: middle;
    display: table-cell;
    width: 10%;
}
.like-answer-Section li:first-child {
    display: block;
    width: 100%;
}
.qstn_details .google_icon{
    background-color: #de5644;
}
.qstn_details .facbook_icon{
    background-color: #3460a1;
}
.qstn_details .twitter_icon{
    background-color: #65abd0;
}

.pager{
    padding: 15px 0;
}
.lesson-pagination .pager>li:first-child>a, .pager>li:first-child>span {
    background-color: #e4ebf2;
    color: #192b40;
    border: medium none;
    border-radius: 0 30px 30px 0;
    display: block;
    padding: 25px;
}

.lesson-pagination .pager>li:last-child>a, .pager>li:last-child>span {
    background-color: #e4ebf2;
    color: #192b40;
    border: medium none;
    border-radius: 30px 0 0 30px;
    display: block;
    padding: 25px;
}
.Pagination-arrow-R{
    font-size: 48px;
    vertical-align: middle;
    float: right;
    margin-top: 0px;
    color: #425164;
}
.Pagination-arrow-L{
    font-size: 48px;
    vertical-align: middle;
    float: left;
    margin-top: 0px;
    color: #425164;
}

.pager {
    padding: 15px 0;
    margin: auto;
    text-align: center;
    list-style: none;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*--------------Ask listing-------------*/
    .choose_supject select, .choose_supject label{
        width: auto;
        display:inline-block;
    }
    .bar > * {
        width:auto;
    }
    .qstn_list .right_info{
        width: 100px;
        margin-left: 20px;
    }
    .qstn_body{
        padding-left: 190px;
    }
    .action_btn_cont{
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        height: 70px;
        margin: auto;
    }
    .action_btn span {
        display:block;
    }
    .action_icon{
        opacity: .4;
    }
    .qstn_unit:hover .action_icon, .qstn_unit:hover .action_text{
        opacity: 1;
    }
    .action_btn .action_text{
        opacity: 0;
    }

    /*--------------Ask details-------------*/

    .qstn_details .qstn_list .right_info{
        width: 100px;
    }
    .qstn_details .qstn_body{
        padding-left: 150px;
    }
    .like-answer-Section li:first-child {
        display: table-cell;
        width: auto;
    }
    .like-answer-Section li {
        width: auto;
    }
    .like-answer-Section ul{
        width: 100%;
        display: table;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
}



